<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
<form action="#springUrl('/j_spring_security_check')" method="post">
	<label for="j_username">ログインID</label><br />
	<input type="text" id="j_username" name="j_username" /><br />
	
	<label for="j_password">パスワード</label><br />
	<input type="password" id="j_password" name="j_password" /><br />

	<label for="_spring_security_remember_me">ログインしたままにする</label><br />
	<input type="checkbox" id="_spring_security_remember_me" name="_spring_security_remember_me" /><br />
	
	<input type="submit" value="ログイン" />
	
#if ($error)
	${error}<br />	
#end
</form>
</body>
</html>
